/* ------------- admin ----------------------- */

.admin{
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

/* ----------------- sidenav --------------- */

.side_nav{
  width: 20%;
  height: 100vh;
  position: static;
  height: 100vh;
  border-right: 2px solid rgba(171, 32, 116,0.7);
}

.side_nav>img{
  width: 80%;
  display: flex;
  margin: 5% auto;
}

/* --------------- admin comtent ------------ */

.admin_content{
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 30px 20px;
  box-sizing: border-box;
}




/* -------------------- form_new_product ---------------------- */

.form_new_product{
  width: 50%;
}
.form_new_product>input,select{
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  padding-left: 20px;
  box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 20px;
  background: transparent;
  font-weight: bold;
}
.form_new_product>input:nth-of-type(5){
  border: none;
}

.input_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid rgba(171, 32, 116,0.7);
  border-radius: 50px;
  background-color:  rgba(171, 32, 116,0.7);
  box-shadow: 0 3px 7px rgba(0,0,0, 0.5);
  cursor: pointer;
  font-family: absolute;
  font-size: 32px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.input_btn:hover{
  background-color:  rgba(171, 32, 116, 0.2);
  transform: scale(1.05);
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;

}

@media screen and (max-width: 500px){
  .form_new_product{
    width: 95%;
    margin-bottom: 30px;
  }
  .side_nav_menu>ul{
    padding: 5%;
  }
}