a{
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header>img{
  height: 20vh;
}

.nav_header{
  width: 100%;
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #ab2074;
  position: relative;
}
.nav_header>a{
  font-size: 24px;
  font-weight: bold;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.nav_header>a:hover{
  transform: scale(1.1);
}

/* ----------------- SOCIAL ----------------- */

.social{
  position: fixed;
  top: 45vh;
  left: 2.5%;
  width: 50px;
  z-index: 10;
  background: transparent;
  /* transform: translateY(-50%); */
}
.social_sticky{
  position: sticky;
  transform: translateY(-50%);
}
.social>img{
  height: 50px;
  margin-bottom: 20px;
  background: transparent;
  cursor: pointer;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.social>img:hover{
  transform: scale(1.2);
}


/* ---------------- section slider --------------- */

.section_slider{
  width: 100%;
  height: 100vh;
  padding: 4% 10%;
  box-sizing: border-box;
  display: flex;
}
span{
  background: transparent;
}


/* ---------------- categories -*------------------ */

.categories{
  width: 100%;
  height: auto;
  padding: 4% 10%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.category_box{
  width: 100%;
  height: 45vh;
  display: flex;
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.category_box:hover{
  transform: scale(1.05);
}
.category_box:nth-of-type(4){
  height: 75vh;
}
.category_box>img{
  max-width: 100%;
}


/* ------------- footer ----------------- */


.nav_fotter{
  background: turquoise;
  z-index: 1;
}

.box_links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 8%;
  box-sizing: border-box;
}
ul>li{
  list-style: none;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer>img{
  max-width: 50%;
  margin-bottom: 50px;
  margin-top: 50px;
}