a{
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

header{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header>img{
  height: 20vh;
}

.nav_header{
  width: 100%;
  display: flex;
  padding: 1% 10%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #ab2074;
  position: relative;
}
.nav_header>a{
  font-size: 24px;
  font-weight: bold;
}


/* ----------------- SOCIAL ----------------- */

.social{
  position: absolute;
  top: 45vh;
  left: 2.5%;
  width: 50px;
  /* transform: translateY(-50%); */
}
.social_sticky{
  position: sticky;
  transform: translateY(-50%);
}
.social>img{
  height: 50px;
  margin-bottom: 20px;
}


/* ---------------- section slider --------------- */

.section_slider{
  width: 100%;
  height: 100vh;
  padding: 4% 10%;
  box-sizing: border-box;
  display: flex;
}
span{
  background: transparent;
}
