.box_products{
  width: 100%;
  padding: 5% 10%;
  background: transparent;
  box-sizing: border-box;
}
.box_products>h1{
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: normal;
}
.container_products{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.product{
  width: 30%;
  margin-bottom: 80px;
  position: relative;
}
.product:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.product_content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.product_content>img{
  display: flex;
  width: 100%;
}

.box_btn_products{
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(150%);
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.btn_product{
  color: #ffffff;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: agency;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0 5px 10px rgb(0,0,0,0.4);
  cursor: pointer;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.btn_product:hover{
  transform: scale(1.05);
}
.btn_product:nth-of-type(1){
  background: #418BC8;
}
.btn_product:nth-of-type(2){
  background: #AB2074;
}

@media screen and (max-width: 500px){
  .box_products{
    padding: 12%;
  }
  .product{
    width: 100%;
  }
}