*{
  margin: 0;
  color: #ffffff;
  
   
}
body{
  background: #1F2327;
}

.app{
  width: 100%;
}
.bar_construction{
  height: 25px;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10;
  display: flex;
  transform: translateX(-50%);
}
.bar_construction>img{
  position: relative;
  z-index: 1
}
.bar_construction>span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 20;
  color: #38393E;
  font-size: 28px;
  font-family: absolute;
}


/* -------- spinner ----------- */


#spinner {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.sk-bk{
  background: transparent;
}
.sk-chase {
  width: 80px;
  height: 80px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #AB2074;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


/* ----------------- nav ------------------ */

/* nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  background: #000000;
  z-index: 10;
} */

/* ---------------categories------------------- */

/* .categories{
  padding: 100px 5%;
}
.categories_box{
  display: flex;
  justify-content: space-between;
} */

/* --------------category--------------- */
/* 
.category{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: 1px solid red;
}
.category>p{
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%) translateY(-150%);
} */


/* ------------ product comatiner ---------------- */

/* .product_container{
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product{
  width: 30%;
  height: 300px;
  display: flex;
  position: relative;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  border-radius: 50%;
}
.product>img{
  border-radius: 50%;
  display: flex;
  max-width: 100%;
}
.product>p{
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%) translateY(-150%);
  font-weight: bold;
}

.form_img{
  width: 30%;
}

.btn{
  width: 80px;
  height: 30px;
  background: blue;
} */